<h1>POTLUCK SHOW PAGE!</h1>

<h3>Name: <%= @potluck.name %> </h3>
<p>Location: <%= @potluck.location %> </p>
<p>Date: <%= @potluck.date_at %> </p>
<p>Time: <%= @potluck.time_at %> </p>
<p>Posted By: <%= @potluck.user.username %> </p>

<% if session[:user_id].nil? %>

<% elsif session[:user_id] == @potluck.user.id%>
  <button id="submit-edit" type="submit" name="submit"><a href="/potluck/<%= @potluck.id %>/edit">Edit This Potluck</a></button>
  <form class="potluck-delete-form" action="/potluck/<%= @potluck.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <button id="submit-delete" type="submit" name="submit">Delete This Potluck</button>
  </form>
<% else %>
<% end %>
