<h1>POTLUCK SHOW PAGE!</h1>

<h3>Name: <%= @potluck.name %> </h3>
<p>Location: <%= @potluck.location %> </p>
<p>Date: <%= @potluck.date %> </p>
<p>Time: <%= @potluck.time %> </p>
<p> <%= @potluck.user.username %> </p>
